
.Text {
    font-size:x-large ;
    
    color: #3b7bbb;
    text-shadow: #99CCFF 1px 1px 20px;
    
}
.image{
    transition: transform 1s;
    
}
.image:hover{
    transform :scale(1.2);
}
h1{
    font-family: Comfortaa;
font-size: 40px;
color: rgb(251, 251, 251);
text-shadow: rgb(0, 0, 0) 1px 1px 20px;
}